<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>引船作業日報（編集中）</title>
    <!-- Tailwind CSSのCDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <script class="text-blue-700 font-bold">alert('{{ message }}');</script>
        {% endfor %}
      {% endif %}
    {% endwith %}
  <div class="text-red-500 font-bold" id="resultMessage"></div>  
  <div class="container mx-auto mt-5">
    <h1 class="flex justify-center text-xl font-bold mb-4">引 船 作 業 日 報(編集)</h1>
  </div>
  <div>
     {% if file_created %}
		<div class="flex flex-row justify-center">   
		  <div class="text-blue-700 font-bold">{{ message }}</div>&nbsp;&nbsp;&nbsp; 
		  <div class="text-Green-500"> {{ new_filename }}</div>
		</div>
      {% else %}
        <div class="flex justify-center text-red-400">{{ message }}</div>
      {% endif %}
  </div>
    <div class="mb-8">
		  <form action="/register" method="post" id="myForm">
			  <div class="container mx-auto mt-5 ml-5">
          <div class="flex justify-center items-center gap-4">
            <div>
              <label for="date">年月日:</label>
              <input class="w-32 border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded" 
              type="date" name="date" id="date" value="{{ date }}" onchange="updateWeekday()">
            </div>
            <div>
              <label for="weekday">曜日:</label>
              <input class="w-12 border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded" type="text" name="weekday" id="weekday" value="{{ weekday }}" readonly>
            </div>
            <div>
              <label for="category">勤務:</label>
              <select class="w-20 border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded" name="category" id="category">
                <option value="日勤" {% if category == "日勤" %}selected{% endif %}>日勤</option>
  				      <option value="当直" {% if category == "当直" %}selected{% endif %}>当直</option>
 				        <option value="当直明け" {% if category == "当直明け" %}selected{% endif %}>当直明け</option>
              </select>
            </div>
            <div>85</div>
            <div>あさか丸</div>
            <div>
              <label for="person">船長:</label>
              <select class="w-28 border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded" name="person" id="person">
                <option value=""></option>
                {% for person in people %}
                  <option value="{{ person }}" {% if person == selected_person %}selected{% endif %}>{{ person }}</option>
                {% endfor %}
              </select>
            </div>
            
			      <button type="submit" class="mt-2 ml-20 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">登録・印刷</button> 
		      </div>
        </div> 
		    <div class="container mx-auto mt-5 ml-5">
                <!-- その他のフィールドも同様に追加 -->
                <div class="w-full lg:w-full mx-auto overflow-auto">
                  <table class="m-4" style="width:95%; text-align: center; table-layout: fixed;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                  <!-- <table class="table-fixed w-full text-left whitespace-no-wrap hidden sm:table m-8"> -->
                      <thead style="width:100%;display:block;">
                          <tr style="display:flex;  width:1500px;">
                          <th class="pr-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100" style="width:20%;">船&nbsp;&nbsp;&nbsp;名</th>
                          <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100" style="width:7%;">船席</th>
                          <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100" style="width:5%;">作業別</th>
                          <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100" style="width:8%;">予定時間</th>
                          <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100" style="width:8%;">基&nbsp;地&nbsp;発</th>
                          <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100" style="width:8%;">現&nbsp;場&nbsp;着</th>
                          <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100" style="width:8%;">作業開始</th>
                          <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100" style="width:8%;">作業終了</th>
                          <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100" style="width:8%;">基&nbsp;地&nbsp;着</th>
                          <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100" style="width:7%;">使用時間</th>
                          <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100" style="width:5%;">相手TUG</th>
                          <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100" style="width:5%;">証明<br>部数</th>
                          </tr>
                      </thead>
                      <tbody style="width:100%;display:block;">
                        <tr style="display:flex;  width:1500px;" class="mt-0">
                          <td>1.</td>
                          <td style="width:19%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="shipname_1" id="shipname_1" value="{{ shipname_1 }}">
                          </td>
                          <td style="width:7%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="berth_1" id="berth_1" value="{{ berth_1 }}">
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="details_1" id="details_1" value="{{ details_1 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="schedule_1" id="schedule_1" value="{{ schedule_1 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="departure_1" id="departure_1" value="{{ departure_1 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="onsite_1" id="onsite_1" value="{{ onsite_1 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="start_1" id="start_1" value="{{ start_1 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="end_1" id="end_1" value="{{ end_1 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="arrival_1" id="arrival_1" onchange="updatearrival1()" value="{{ arrival_1 }}">
                          </td>
                          <td style="width:7%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="usage_1" id="usage_1"  value="{{ usage_1 }}" readonly>
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="partner_1" id="partner_1" value="{{ partner_1 }}">
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="certificate_1" id="certificate_1" value="{{ certificate_1 }}">
                          </td>
                        </tr>
                        <tr style="display:flex;  width:1500px;" class="mt-5">
                          <td>2.</td>
                          <td style="width:19%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="shipname_2" id="shipname_2" value="{{ shipname_2 }}">
                          </td>
                          <td style="width:7%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="berth_2" id="berth_2" value="{{ berth_2 }}">
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="details_2" id="details_2" value="{{ details_2 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="schedule_2" id="schedule_2" value="{{ schedule_2 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="departure_2" id="departure_2" value="{{ departure_2 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="onsite_2" id="onsite_2" value="{{ onsite_2 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="start_2" id="start_2" value="{{ start_2 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="end_2" id="end_2" value="{{ end_2 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="arrival_2" id="arrival_2" onchange="updatearrival2()" value="{{ arrival_2 }}">
                          </td>
                          <td style="width:7%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="usage_2" id="usage_2"  value="{{ usage_2 }}" readonly>
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="partner_2" id="partner_2" value="{{ partner_2 }}">
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="certificate_2" id="certificate_2" value="{{ certificate_2 }}">
                          </td>
                        </tr>
                        <tr style="display:flex;  width:1500px;" class="mt-5">
                          <td>3.</td>
                          <td style="width:19%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="shipname_3" id="shipname_3" value="{{ shipname_3 }}">
                          </td>
                          <td style="width:7%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="berth_3" id="berth_3" value="{{ berth_3 }}">
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="details_3" id="details_3" value="{{ details_3 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="schedule_3" id="schedule_3" value="{{ schedule_3 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="departure_3" id="departure_3" value="{{ departure_3 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="onsite_3" id="onsite_3" value="{{ onsite_3 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="start_3" id="start_3" value="{{ start_3 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="end_3" id="end_3" value="{{ end_3 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="arrival_3" id="arrival_3" onchange="updatearrival3()" value="{{ arrival_3 }}">
                          </td>
                          <td style="width:7%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="usage_3" id="usage_3"  value="{{ usage_3 }}" readonly>
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="partner_3" id="partner_3" value="{{ partner_3 }}">
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="certificate_3" id="certificate_3" value="{{ certificate_3 }}">
                          </td>
                        </tr>
                        <tr style="display:flex;  width:1500px;" class="mt-5">
                          <td>4.</td>
                          <td style="width:19%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="shipname_4" id="shipname_4" value="{{ shipname_4 }}">
                          </td>
                          <td style="width:7%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="berth_4" id="berth_4" value="{{ berth_4 }}">
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="details_4" id="details_4" value="{{ details_4 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="schedule_4" id="schedule_4" value="{{ schedule_4 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="departure_4" id="departure_4" value="{{ departure_4 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="onsite_4" id="onsite_4" value="{{ onsite_4 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="start_4" id="start_4" value="{{ start_4 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="end_4" id="end_4" value="{{ end_4 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="arrival_4" id="arrival_4" onchange="updatearrival4()" value="{{ arrival_4 }}">
                          </td>
                          <td style="width:7%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="usage_4" id="usage_4"  value="{{ usage_4 }}" readonly>
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="partner_4" id="partner_4" value="{{ partner_4 }}">
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="certificate_4" id="certificate_4" value="{{ certificate_4 }}">
                          </td>
                        </tr>
                        <tr style="display:flex;  width:1500px;" class="mt-5">
                          <td>5.</td>
                          <td style="width:19%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="shipname_5" id="shipname_5" value="{{ shipname_5 }}">
                          </td>
                          <td style="width:7%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="berth_5" id="berth_5" value="{{ berth_5 }}">
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="details_5" id="details_5" value="{{ details_5 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="schedule_5" id="schedule_5" value="{{ schedule_5 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="departure_5" id="departure_5" value="{{ departure_5 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="onsite_5" id="onsite_5" value="{{ onsite_5 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="start_5" id="start_5" value="{{ start_5 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="end_5" id="end_5" value="{{ end_5 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="arrival_5" id="arrival_5" onchange="updatearrival5()" value="{{ arrival_5 }}">
                          </td>
                          <td style="width:7%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="usage_5" id="usage_5"  value="{{ usage_5 }}" readonly>
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="partner_5" id="partner_5" value="{{ partner_5 }}">
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="certificate_5" id="certificate_5" value="{{ certificate_5 }}">
                          </td>
                        </tr>
                        <tr style="display:flex;  width:1500px;" class="mt-5">
                          <td>6.</td>
                          <td style="width:19%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="shipname_6" id="shipname_6" value="{{ shipname_6 }}">
                          </td>
                          <td style="width:7%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="berth_6" id="berth_6" value="{{ berth_6 }}">
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="details_6" id="details_6" value="{{ details_6 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="schedule_6" id="schedule_6" value="{{ schedule_6 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="departure_6" id="departure_6" value="{{ departure_6 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="onsite_6" id="onsite_6" value="{{ onsite_6 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="start_6" id="start_6" value="{{ start_6 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="end_6" id="end_6" value="{{ end_6 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="arrival_6" id="arrival_6" onchange="updatearrival6()" value="{{ arrival_6 }}">
                          </td>
                          <td style="width:7%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="usage_6" id="usage_6"  value="{{ usage_6 }}" readonly>
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="partner_6" id="partner_6" value="{{ partner_6 }}">
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="certificate_6" id="certificate_6" value="{{ certificate_6 }}">
                          </td>
                        </tr>
                        <tr style="display:flex;  width:1500px;" class="mt-5 mb-5">
                          <td>7.</td>
                          <td style="width:19%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="shipname_7" id="shipname_7" value="{{ shipname_7 }}">
                          </td>
                          <td style="width:7%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="berth_7" id="berth_7" value="{{ berth_7 }}">
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="details_7" id="details_7" value="{{ details_7 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="schedule_7" id="schedule_7" value="{{ schedule_7 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="departure_7" id="departure_7" value="{{ departure_7 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="onsite_7" id="onsite_7" value="{{ onsite_7 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="start_7" id="start_7" value="{{ start_7 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="end_7" id="end_7" value="{{ end_7 }}">
                          </td>
                          <td style="width:8%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="arrival_7" id="arrival_7" onchange="updatearrival7()" value="{{ arrival_7 }}">
                          </td>
                          <td style="width:7%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="time" name="usage_7" id="usage_7" value="{{ usage_7 }}" readonly>
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="partner_7" id="partner_7" value="{{ partner_7 }}">
                          </td>
                          <td style="width:5%;" class="border-2 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 rounded">
                            <input style="width: 100%;" type="text" name="certificate_7" id="certificate_7" value="{{ certificate_7 }}">
                          </td>
                        </tr>
                      </tbody>
                  </table>
                 </div>
                <div class="underline">
                  <label class="ml-20 mt--5 underline" for="opening">開局時間:</label>
                  <input class="w-32 underline" type="time"  name="opening" id="opening" value="{{ opening }}">
                </div>
                <div class=" mt-5  underline">
                  <label class="ml-20" for="closed">閉局時間:</label>
                  <input class="w-32" type="time"  name="closed" id="closed" value="{{ closed }}">
              </div>
            </div>
          </div>
          </form>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script>
    const todayStr = "{{ date }}"; 
    const today = new Date(todayStr);
    const dd = String(today.getDate()).padStart(2, '0');
    const mm = String(today.getMonth() + 1).padStart(2, '0'); // 月は0から始まるので+1
    const yyyy = today.getFullYear();

    // 今日の日付をYYYY-MM-DD形式で設定
    const todayFormatted = `${yyyy}-${mm}-${dd}`;

    // min（1か月前）とmax（1か月後）の日付を計算
    const lastMonth = new Date(today.setMonth(today.getMonth() - 1));
    const nextMonth = new Date(today.setMonth(today.getMonth() + 2)); // 今日から2か月後（-1+2）

    const minDate = `${lastMonth.getFullYear()}-${String(lastMonth.getMonth() + 1).padStart(2, '0')}-${String(lastMonth.getDate()).padStart(2, '0')}`;
    const maxDate = `${nextMonth.getFullYear()}-${String(nextMonth.getMonth() + 1).padStart(2, '0')}-${String(nextMonth.getDate()).padStart(2, '0')}`;

    // input要素に属性を設定
    document.getElementById('date').value = todayFormatted;
    document.getElementById('date').min = minDate;
    document.getElementById('date').max = maxDate;
    updateWeekday();

    function updateWeekday() {
        const dateInput = document.getElementById('date');
        const weekdayInput = document.getElementById('weekday');
        const days = ['日', '月', '火', '水', '木', '金', '土'];

        if (dateInput.value) {
            const selectedDate = new Date(dateInput.value);
            const weekday = days[selectedDate.getDay()];
            weekdayInput.value = weekday ; // 日本語で曜日を設定
        } else {
            weekdayInput.value = ''; // 日付が選択されていない場合は空にする
        }
    }

    function updateArrival(departureId, arrivalId, usageId) {
      const departureInput = document.getElementById(departureId);
      const arrivalInput = document.getElementById(arrivalId);
      const usageInput = document.getElementById(usageId);

      // 出発時刻が未入力の場合、アラートを表示
      if (!departureInput.value) {
        alert('出発時刻を入力してください。');
        usageInput.value = ''; 
        return; // 早期リターン
      }

      const departureTime = new Date(`1970-01-01T${departureInput.value}:00`);
      const arrivalTime = new Date(`1970-01-01T${arrivalInput.value}:00`);
      const diff = arrivalTime - departureTime;

      // 経過時間が負の値になる場合、エラーメッセージを表示
      if (diff < 0) {
        alert('終了時刻は出発時刻よりも後に設定してください。');
        usageInput.value = ''; 
        return;
      }

        const hours = Math.floor(diff / 3600000);
        const minutes = Math.floor((diff % 3600000) / 60000);
        usageInput.value = `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}`;
      }

      // 独自の関数を用いて特定のフィールドセットを更新
      function updatearrival1() {
        updateArrival('departure_1', 'arrival_1', 'usage_1');
      }

      function updatearrival2() {
        updateArrival('departure_2', 'arrival_2', 'usage_2');
      }

      function updatearrival3() {
        updateArrival('departure_3', 'arrival_3', 'usage_3');
      }

      function updatearrival4() {
        updateArrival('departure_4', 'arrival_4', 'usage_4');
      }

      function updatearrival5() {
        updateArrival('departure_5', 'arrival_5', 'usage_5');
      }

      function updatearrival6() {
        updateArrival('departure_6', 'arrival_6', 'usage_6');
      }

      function updatearrival7() {
        updateArrival('departure_7', 'arrival_7', 'usage_7');
      }
    
    document.addEventListener('DOMContentLoaded', function () {
    // JSONデータが正しく渡されたかチェック
      const workDetailsJson = '{{ work_details_json | safe }}';
      if (workDetailsJson) {
          const workDetails = JSON.parse(workDetailsJson);

      if (workDetails && Array.isArray(workDetails)) {
          workDetails.forEach((detail, index) => {
            // 1始まりのインデックスに変換
              const idx = index + 1;
              document.getElementById(`shipname_${idx}`).value = detail.shipname || '';
              document.getElementById(`berth_${idx}`).value = detail.berth || '';
              document.getElementById(`details_${idx}`).value = detail.details || '';
              document.getElementById(`schedule_${idx}`).value = detail.schedule || ''; //時間"HH:mm" 形式
              document.getElementById(`departure_${idx}`).value = detail.departure || '';//時間"HH:mm" 形式
              document.getElementById(`onsite_${idx}`).value = detail.onsite || '';//時間"HH:mm" 形式
              document.getElementById(`start_${idx}`).value = detail.start || '';//時間"HH:mm" 形式
              document.getElementById(`end_${idx}`).value = detail.end || '';//時間"HH:mm" 形式
              document.getElementById(`arrival_${idx}`).value = detail.arrival || '';//時間"HH:mm" 形式
              document.getElementById(`usage_${idx}`).value = detail.usage || '';//時間"HH:mm" 形式
              document.getElementById(`certificate_${idx}`).value = detail.certificate || '';
              document.getElementById(`partner_${idx}`).value = detail.partner || '';       
          });
        }
      }
    });

    document.getElementById('myForm').addEventListener('keydown', function(event) {
        if (event.target.tagName === 'INPUT' && event.key === 'Enter') {
            event.preventDefault(); // Enterキーのデフォルトの挙動を無効にする
            // 次の要素にフォーカスを移動
            const formElements = Array.from(this.elements);
            const index = formElements.indexOf(event.target);
            const nextElement = formElements[index + 1];
            if (nextElement) {
                nextElement.focus();
            }
        }
    });
        
</script>

</body>
</html>